.inner-tab {
	padding : 5px;
}

.inner-box {
	border-width: 1px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.license-available {
	width : 100%;
	text-align : center;
	font-size: xxx-large;
    font-weight: bolder;
}