.main-pane {
	background-color: #FFFFFF;
}

.list-pane {
	height: 300px;
	border-top: solid 1px #DDDBDA;
}

.search-text {
	text-align: right;
}

.search-text label {
	width: 100%;
}

.confirm-marker {
	padding-top : 76px;
	padding-left: 6px;
}

.valid {
	color : green;
}

.valid:before {
	position : relative;
	left : -5px;
	content: "\221A"; /* 2611 */
}

.invalid {
	color : red;
}

.invalid:before {
	position : relative;
	left : -5px;
	content: "\2573"; /* 2612 */
}