/* 페이지 설정 */
section {
    /* size : A4 landscape;  */
    margin-top: 5mm;
    margin-left: 5mm;
    margin-right: 5mm;
    margin-bottom: 5mm;
    font-size: 14px;
}

/* 테이블 설정 */
table {
    table-layout: fixed;
}
.boxTable{
    width: 100%;
    border : 1px solid black; 
    height : 100%; 
    padding : 3mm;
    /* tr 간격조정 */
    border-collapse: separate;
    border-spacing: 15px;
}

.tableLine{
    border-collapse: collapse;
}
.tableLine>tbody td{
    border: 1px solid black;
    font-size: 12px;
}
.blackLine{
    border: 1px solid black;
}

/* 이미지  */
.imaTag{

}

table td{
    /* border: 1px solid gray; */
}